.container-fluid {
    margin-left: auto;
    margin-right: auto;
    max-width: 48em;
}

#clusters{
    margin-bottom: 200px;
}

#page {
    margin-bottom: 300px;

}

#bar {
    background-color: #9AE0FF;
}

.btn-lg {
    border-radius: 0;
    margin: auto;
    text-align: center;
}

.query {
    /*border-color: black;*/
    /*font-size: small;*/
}

.l1 {
    color: #536980;
    background-color: AliceBlue;
}

.l2 {
    color: #807C6E;
    background-color: Cornsilk;
}

.cluster-nn {
    /*background-color: AliceBlue;*/
    /*border-color: black;*/
}

.word {
    position: relative;
    /*font-size: small;*/
    /*color: Black;*/
}

.no {
    /*position: absolute;*/
/*    bottom: 0;
    right: 0;
*/    
    color: #E6B0AA;
/*    border-style: solid;
    border-color: black;
    border-width: thin;
    border-radius: 10px;
*/}

.yes {
    /*position: absolute;*/
/*    top: 0;
    right: 0;
*/    
    color: #ABEBC6;
/*    border-style: solid;
    border-color: black;
    border-width: thin;
    border-radius: 10px;
*/
}

.word.pos {
    /*background-color: #ABEBC6;*/
    font-weight:bold;
}

.choice.pos > .yes {
    color: green;
}

/*.choice.pos > .no {
    visibility: hidden;
}*/

.word.neg {
    opacity: 0.5;
    text-decoration:line-through;
}

/*.choice.neg > .yes {
    visibility: hidden ;
}*/

.choice.neg > .no {
    color: #FF0000;
    opacity: 1;
}

.highlight{
    background-color: #FDFF63;
    font-weight: bold;
}

.form-control{
    background-color: White;
}


